* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(99, 95, 91);
  padding: 0 35px;
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.card .img img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}
.carousel .card {
  scroll-snap-align: start;
  list-style: none;
  background-color: white;
  height: 342px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel.dragging {
  scroll-behavior: auto;
  scroll-snap-type: none;
}
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.wrapper i {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
}
.wrapper i:first-child {
  left: -22px;
}
.wrapper i:last-child {
  right: -22px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination .dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination .dot.active {
  background-color: #717171; 
}
















@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%}
}
